.App {
  /* text-align: center; */
  background-color: #fff;
  box-sizing: border-box;
}

.AppTitle {
  font-size: 2rem;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  padding: 0.5rem;
  background-color: #555;
  color: #fff;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
}
.nav-item {
  cursor: pointer;
  display: inline-block;
  margin: auto;
}
.todos {
  width: 100%;
  padding: 0;
  /* display: flex; */
  /* align-items: stretch; */
}

.todo-item {
  width: 80%;
  padding: 1rem;
  background-color: #ccc;
  margin: 1rem auto;
  border-radius: 2rem;
}
